{% extends 'base.html.twig' %}

{% block title %}Accueil - MDT LSPD{% endblock %}

{% block content %}
    <div class="container">
        <hr>
        <div class="row text-center text-light pt-4">
            {% if app.user %}
                <p> Bonjour, {{ app.user.rank }} {{ app.user.firstname }} {{app.user.lastname}} !!</p>
            {% else %}
                <p>
                    Bonjour/Bonsoir, si vous êtes là c'est que soit vous êtes perdu, soit vous sur le Serveur de <b>META RP FA</b>.
                    <br>
                    <br>

                    1 - Vous êtes perdu, je vous invite à rejoindre ce serveur GTARP : <a href="https://discord.gg/metafa">META RP FA</a> .
                    <br><br>
                    2 - Vous êtes Agent LSPD, je vous invite soit à demander la création d'un compte en contactant un Haut Gradé du LSPD
                    ou à vous <a href="{{path('app_login')}}">connecter</a> . <a href="{{ path('app_register') }}">register</a>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
