{% extends 'base.html.twig' %}

{% block title %}Civils recensés{% endblock %}

{% block content %}
    <h1 class="text-center mt-5">Liste des civils</h1>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-2">
            <h5 class="fs-6">Rehercher par Prénom/Nom :</h5>
            <form>
                {{ form_row(form.string) }}
                {{ form_widget(form.filtrer) }}
            </form>
        </div>
        <div class="col-md-10">
            <table class="table text-white">
                <thead>
                <tr>
                    <th>Arrestations</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>ID Unique</th>
                    <th>Age</th>
                    <th>Numéro de téléphone</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for civil in civils %}
                    <tr>
                        <td>{{ civil.getTotalArrestations }}</td>
                        <td>{{ civil.firstname }}</td>
                        <td>{{ civil.lastname }}</td>
                        <td>{{ civil.idUnique }}</td>
                        <td>{{ civil.age }}</td>
                        <td>{{ civil.telNumber }}</td>
                        <td>
                            <a href="{{ path('app_civil_show', {'id': civil.id}) }}" class="text-decoration-none">&#128065;&#65039;</a>
                            {% if is_granted('ROLE_LSPD') %}
                            <a href="{{ path('app_civil_edit', {'id': civil.id}) }}" class="text-decoration-none">&#9997;</a>
                            <a href="{{ path('app_arrestation_new') }}" class="text-decoration-none"><img  height="20px" class="emojidex-emoji" src="https://cdn.emojidex.com/emoji/seal/hand_cuffs.png" emoji-code="hand_cuffs" alt="hand cuffs"></a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8" class="text-center">Aucun civil recensé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                {{ knp_pagination_render(civils) }}
            </div>
            {% if is_granted('ROLE_LSPD') %}
            <div class="d-flex justify-content-end">
                <a href="{{ path('app_civil_new') }}"><button class="btn btn-warning">Nouveau recensement</button></a>
            </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}
