{{ form_start(form) }}
<div class="row">
    <div class="col-md-4">
        {{ form_row(form.suspect) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.agent) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.sentences) }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ form_row(form.date) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.gavStart) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.gavEnd) }}
    </div>
</div>
    {{ form_row(form.justicePicture) }}
    {{ form_row(form.observation) }}

{% if app.request.attributes.get('_route') == 'app_arrestation_edit'  %}
    {% if arrestation.fixJusticePicture is null %}
        <hr>
    {% else %}
        <div class="row">
            <h2>Photos d'arrestations</h2>
            {% for img in arrestation.justicePicture %}
            <div class="col-md-3 m-2">
                <img src="{{ asset('assets/uploads/justicePicture/mini/300x300-') ~ img.filename }}" alt="img.filename">
                <a href="{{ path('app_justicePicture_delete', {id: img.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ img.id) }}" class="btn btn-danger float-md-end">Supprimer</a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
{% endif %}

    <button class="btn btn-outline-success float-xl-end mb-5">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
